<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <!-- <script src="/javascripts/index-food-querying.js"></script>
    <script src="/javascripts/index-socket-listeners.js"></script>
    <script src="/javascripts/dynamic-partials.js"></script> -->
  </head>
  <header>
    <% include ./partials/navbar.ejs %>
  </header>

  <body>
    <p>Welcome to the landing page!</p>
    <!--<div id="main-div" class="container">
      <button id="newMealButton" onclick="beginNewMeal();">Create a new meal</button>
    </div>-->
  </body>

</html>
