<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <script src="/javascripts/index-food-querying.js"></script>
    <script src="/javascripts/index-socket-listeners.js"></script>
    <script src="/javascripts/dynamic-partials.js"></script>
  </head>

  <body>
    <div id="main-div">
      <button id="newMealButton" onclick="beginNewMeal();">Create a new meal</button>
    </div>
  </body>

</html>
