<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>

      /* Some basic DOM functions that don't need to be in this HTML file */
      function insertAfter( referenceNode, newNode )
      {
          referenceNode.parentNode.insertBefore( newNode, referenceNode.nextSibling );
      }

      /* These can be put in an external js file included in all pages */
      var socket = io();

      function emitTest(msg) {
        socket.emit('echo', msg);
      }

      function emitValue(type, data) {
        socket.emit(type, data)
      }

      /* These are functions specific to this page */
      function emitFoodQuery() {
        console.log('hello!');
        emitValue(
          '_relevant_foods_request',
          { foodQuery: document.getElementById('foodQuery').value }
        );
      }


      /* listeners specific to this page */
      socket.on('_relevant_foods_returned', function(data) {
        var foods = data.items;

        // delete any previous autocomplete divs
        if(document.getElementById("autocomplete-div")) {
          document.getElementById("autocomplete-div").outerHTML = "";
          delete document.getElementById("autocomplete-div");
        }

        // load autocomplete div template (i.e., the big box for the results)
        var div = document.createElement("div");
        div.id = "autocomplete-div";
        div.className = "autocomplete-div-class";

        for (var f = 0; f<foods.length; f++) {
          var button = document.createElement("button");
          button.className = "autocomplete-div-row-class";
          button.innerHTML = foods[f].name;
          div.appendChild(button);
        }

        document.body.appendChild(div);
      });

      socket.on('_relevant_foods_not_found', function(data) {
        // delete any previous autocomplete divs
        if(document.getElementById("autocomplete-div")) {
          document.getElementById("autocomplete-div").outerHTML = "";
          delete document.getElementById("autocomplete-div");
        }

        // log the error client side as well
        console.error(data.errorMsg);
      });

    </script>
  </head>

  <body>
    <p>Hello World!</p>
    <input id="foodQuery" type="text" name="foodQuery" onchange="emitFoodQuery();">Add a food<br>
    <button onclick="emitTest('hullo!');">Click me!</button>
  </body>

</html>
