<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      var socket = io.connect("0.0.0.0:8080");
      function emitTest(msg) {
        socket.emit('echo', msg);
      }
    </script>
  </head>

  <body>
    <p>Hello World!</p>
    <button onclick="emitTest();">Click me!</button>
  </body>

</html>
