<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <script src="/javascripts/index-food-querying.js"></script>
    <script src="/javascripts/index-socket-listeners.js"></script>
    <script src="/javascripts/dynamic-partials.js"></script>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">arogya</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
    </nav>

    <div id="main-div" class="container">
      <button id="newMealButton" onclick="beginNewMeal();">Create a new meal</button>
    </div>
  </body>

</html>
