<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>

      /* Some basic DOM functions that don't need to be in this HTML file */
      function insertAfter( referenceNode, newNode )
      {
          referenceNode.parentNode.insertBefore( newNode, referenceNode.nextSibling );
      }

      /* These can be put in an external js file included in all pages */
      var socket = io();

      function emitTest(msg) {
        socket.emit('echo', msg);
      }

      function emitValue(type, data) {
        socket.emit(type, data)
      }

      /* variables specific to this page */
      var newMeal = {
        foods: [],
      };

      /* These are functions specific to this page */
      function emitFoodQuery() {
        console.log('hello!');
        emitValue(
          '_relevant_foods_request',
          { foodQuery: document.getElementById('foodQuery').value }
        );
      }

      function beginNewMeal() {
        // create meal object/clear out any existing ones
        newMeal = { foods: [] };
        //newMeal.foods = [];

        // delete create meal button
        document.getElementById("newMealButton").outerHTML = "";
        delete document.getElementById("newMealButton");

        // instantiate other html stuff
        var queryInput = document.createElement("input");
        queryInput.id = "foodQuery";
        queryInput.name = "foodQuery";
        queryInput.type = "text";
        queryInput.onchange = function(){ emitFoodQuery(); };
        document.body.appendChild(queryInput);

        var finishMealButton = document.createElement("button");
        finishMealButton.innerHTML = "Done?";
        finishMealButton.onclick = function(){ finishMeal(); };
        document.body.appendChild(finishMealButton);
      }

      function finishMeal() {
        console.dir(newMeal);
        socket.emit('_finished_meal', { meal: newMeal });
      }

      function addFoodToMeal(f) {
        // push to the new meal being constructed
        newMeal.foods.push(f);
        // delete any autocomplete divs
        if(document.getElementById("autocomplete-div")) {
          document.getElementById("autocomplete-div").outerHTML = "";
          delete document.getElementById("autocomplete-div");
        }
      }

      /* listeners specific to this page */
      socket.on('_relevant_foods_returned', function(data) {
        var foods = data.items;

        // delete any previous autocomplete divs
        if(document.getElementById("autocomplete-div")) {
          document.getElementById("autocomplete-div").outerHTML = "";
          delete document.getElementById("autocomplete-div");
        }

        // load autocomplete div template (i.e., the big box for the results)
        var div = document.createElement("div");
        div.id = "autocomplete-div";
        div.className = "autocomplete-div-class";

        for (var i = 0; i<foods.length; i++) {
          var button = document.createElement("button");
          button.className = "autocomplete-div-row-class";
          button.innerHTML = foods[i].name;
          button.onclick = function(){ addFoodToMeal(foods[i]); };
          div.appendChild(button);
        }

        document.body.appendChild(div);
      });

      socket.on('_relevant_foods_not_found', function(data) {
        // delete any previous autocomplete divs
        if(document.getElementById("autocomplete-div")) {
          document.getElementById("autocomplete-div").outerHTML = "";
          delete document.getElementById("autocomplete-div");
        }

        // log the error client side as well
        console.error(data.errorMsg);
      });

      socket.on('_saved_meal_to_db', function(data) {
        // delete everything
        document.body.innerHTML = "";

        // quick message
        var newP = document.createElement("p");
        newP.innerHTML = "Saved!";
        document.body.appendChild(newP);

        // wait a specified amount of time to delete this message, and then add back the addMeal button
        var time = 3 * 1000;
        setTimeout(function() {
          document.body.innerHTML = "";
          // add back the newMealButton
          var newMealButton = document.createElement("button");
          newMealButton.id = "newMealButton";
          newMealButton.onClick = function(){ beginNewMeal(); };
          newMealButton.innerHTML = "Create a new meal";
          document.body.appendChild(newMealButton);
        }, time)
      });
    </script>
  </head>

  <body>
    <button id="newMealButton" onclick="beginNewMeal();">Create a new meal</button>
    <!-- <input id="foodQuery" type="text" name="foodQuery" onchange="emitFoodQuery();"> -->
    <!-- <button onclick="emitTest('hullo!');">Click me!</button> -->
  </body>

</html>
