<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <script src="/javascripts/index-food-querying.js"></script>
    <script src="/javascripts/index-socket-listeners.js"></script>
    <script src="/javascripts/dynamic-partials.js"></script>
  </head>
  <header>
    <% include ./partials/navbar.ejs %>
  </header>

  <body>
    <div id="main-div" class="container">
      <div class="row">
          <div class="col s4"></div>
          <div class="col s4">
            <button id="newMealButton" onclick="beginNewMeal();" class="center-align waves-effect waves-light btn">
              <i class="material-icons left">create</i>Record
            </button>
          </div>
          <div class="col s4"></div>
      </div>
    </div>
  </body>

</html>
